@media only screen and (min-width: 768px) {
  .menu{
    display: flex;
    justify-content: center;
    // background-image: url('../../assets/image/bg_menu.png');
    // background-repeat: repeat-y;
    // background-position: right top;
    // background-size: 627px 1024px;
    margin-bottom: 120px;
    .title{
      padding-top: 153px;
    }
    .content{
      padding-top: 103px;
      width: 688px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
@media only screen and (max-width: 768px) {
  .menu{
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    justify-content: center;
    // background-image: url('../../assets/image/bg_menu.png');
    // background-repeat: repeat-y;
    // background-position: right top;
    // background-size: 259px 300px;
    margin-bottom: 80px;
    .title{
      padding-top: 48px;
    }
    .content{
      padding-top: 24px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}