@media only screen and (min-width: 768px) {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: $width-base;
    padding: 12px 30px;
    margin: 0 auto;
    img{
      height: 28px;
    }
    .menu{
      display: flex;
      a{
        padding: 10px 28px;
        color: $color-text;
        &:hover{
          color: $color-text-blue;
        }
      }
      .router-link-exact-active{
        color: $color-text-blue;
      }
    }
    .wallet{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 16px;
    margin: 0 auto;
    img{
      height: 18px;
    }
    .menu{
      display: flex;
      a{
        padding: 10px 20px 10px 0;
        color: $color-text;
        &:hover{
          color: $color-text-blue;
        }
      }
      .router-link-exact-active{
        color: $color-text-blue;
      }
    }
    .wallet{
      width: 42px; 
    }
  }
}