
$color-10: #000;
$color-20: #1D1D1D;

// color
$color-text: #fff;
$color-text-grey: #424242;
$color-text-grey-1: #4A4A4A;
$color-text-blue: #99CCFF;

$font-1: Inter-Regular_Light, Inter;
$font-2: OriyaMN;
$font-3: Inter-Regular, Inter;

$width-base: 1200px;


// height
$height-header: 72px;
$height-footer: 80px;
$height-between-header-and-container: 24px;

//