
$color-10: #000;
$color-20: #0E0E1A;

// color
$color-text: #fff;
$color-text-grey: #86868C;
$color-text-grey-1: #4A4A4A;
$color-text-blue: #6BB5FF;

$font-1: Inter-Regular_Light, Inter;
$font-2: OriyaMN;
$font-3: Inter-Regular, Inter;
$font-num: "Inter Roman", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$width-base: 1200px;


// height
$height-header: 72px;
$height-footer: 80px;
$height-between-header-and-container: 24px;

//