@media only screen and (min-width: 768px) {
  .footer{
    padding: 0 0 0 188px;
    position: relative;
    .contactus{
      display: flex;
      align-items: center;
      color: $color-text-grey;
      a{
        margin-left: 36px;
      }
      img{
        width: 16px;
      }
      :nth-child(2){
        :nth-child(2){
          img{
            width: 20px;
          }
        }
        :nth-child(3){
          img{
            width: 20px;
          }
        }
      }
      :nth-child(3){
        :nth-child(1){
          img{
            width: 20px;
          }
        }
        :nth-child(2){
          img{
            width: 20px;
          }
        }
        :nth-child(3){
          img{
            width: 20px;
          }
        }
      }
    }
    .decorate{
      position: absolute;
      left: 0px;
      bottom: 4px;
      width: 80px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer{
    padding: 0 18px 30px;
    position: relative;
    border-top: 1px solid $color-text-grey-1;
    .contactus{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color-text-grey;
      span{
        padding-top: 24px;
      }
      a{
        margin-left: 44px;
      }
      img{
        width: 16px;
      }
      :nth-child(1){
        font-size: 16px;
        color: $color-text-grey-1;
      }
      :nth-child(2){
        :nth-child(1){
          margin: 0;
        }
        :nth-child(2){
          img{
            width: 20px;
          }
        }
        :nth-child(3){
          img{
            width: 20px;
          }
        }
      }
      :nth-child(3){
        :nth-child(1){
          margin: 0;
          img{
            width: 20px;
          }
        }
        :nth-child(2){
          img{
            width: 20px;
          }
        }
        :nth-child(3){
          img{
            width: 20px;
          }
        }
      }
    }
    .decorate{
      display: none;
    }
  }
}