.home{
  padding: 153px 0 160px 168px;
  background-image: url('../../assets/image/bg_home.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 526px 609px;
  .balance-cards{
    display: flex;
    justify-content: space-between;
    width: 930px;
  }
}
.tips{
  font-size: 18px;
  word-break: break-word;
}